<div class="container">

  <div class="imageContainer">
  </div>
  <div class="content">
    <h1>Travel</h1>
    <form [formGroup]="userForm" (submit)="onSubmit()">
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Username</mat-label>
        
        <input type="text" matInput formControlName="name" [errorStateMatcher]="matcher"
               placeholder="Ex. fulano">      
        @if (userForm.controls.name.hasError('required')) {
          <mat-error>Username is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <br>
      <mat-form-field class="example-full-width" appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput formControlName="password" [errorStateMatcher]="matcher"
               placeholder="******">      
        @if (userForm.controls.name.hasError('required')) {
          <mat-error>Password is <strong>required</strong></mat-error>
        }
      </mat-form-field>
      <input type="submit" value="LOGIN">
      <span class="forgot">FORGOT PASSWORD?</span>
    </form>
    <span class="signup">NO ACCOUNT? <strong class="link" routerLink="/signup">SIGN UP</strong></span>
  </div>
</div>
